# Flutter
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.meliorate/
android/.gradle/
ios/Pods/
pubspec.lock

# VSCode
.vscode/

# Node (si metiste backend)
node_modules/
npm-debug.log*
yarn.lock
